.home{
    width:100%;
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.txt{
    width:40%;
    position: relative;
    top: -20px;
    color:rgb(15, 185, 215);
    left:45px;
    text-align:center;
    letter-spacing: 1px;
    animation: txtt 10s ease-in-out infinite;
    background-color: rgb(119, 9, 9);
}
.img{
    position: relative;
    top: 45px;
    border: 2px blue solid;
    border-radius: 20px;
}
.img:hover{
    box-shadow: 5px 8px 10px rgb(162, 49, 49);
}
img{
    width:500px;
    height:400px;
    border-radius: 20px;
}
@keyframes txtt{
    100%{
          transform: translateY(50px);
    }
}
